<% if(url == '/db/nextquestion'){ %>    
    <div class="btn-container">
        <div class="btn-holder">
            <button type="button"><a href="/db/results">Ver tus respuestas</a></button>
        </div>
    </div> 
<% } %>
<% if(url == '/db/results'){ %>
    <div class="btn-container">
        <div class="btn-holder">
            <button type="button"><a href="/db/questionspage">Volver a las preguntas</a></button>
        </div>
    </div> 
<% } %>

