<% if(url != '/welcome' && url != '/welcome/#' && url != '/' && url != '/login'){ %>
<div id="home-btn-container">
    <button id="home-btn"><a href="/">Inicio</a></button>
</div>
<% } %>
<% if(url != '/about'){ %>
<div id="about-btn-container">
    <button id="about-btn"><a href="/about">Sobre mi</a></button>
</div>
<% } %>
<% if(url != '/' && url != '/about' && url != '/login'){ %>
<div id="logout-btn-container">
    <button id="logout-btn"><a href="/auth/logout">Cerrar sesión</a></button>
</div>
<% } %>
<% if(url == '/login'){ %>
<div id="cancel-btn-container">
    <button id="cancel-btn"><a href="/">Cancelar</a></button>
</div>
<% } %>
