<!--Home button-->
<% if(url != '/welcome' && url != '/welcome/#' && url != '/' && url != '/login'){ %>
<div class="menu-btn">
    <a href="/">Inicio</a>
</div>
<% } %>
<!--About button-->
<% if(url != '/about'){ %>
<div class="menu-btn">
    <a href="/about">Sobre mi</a>
</div>
<% } %>
<!--Log in button-->
<% if(url != '/login' && !user){ %>
<div class="menu-btn">
    <a href="/login">Iniciar sesión</a>
</div>
<% } %>
<!--Log out button-->
<% if(url != '/login' && user){ %>
<div class="menu-btn">
    <a href="/auth/logout">Cerrar sesión</a>
</div>
<!--Cancel button-->
<% } %>
<% if(url == '/login'){ %>
<div class="menu-btn">
    <a href="/">Cancelar</a>
</div>
<% } %>
