<div class="header">
    <!--logo image-->    
    <img src="/images/logo_header_100px.png" class="header-logo-img" title="Mindfulness app logo">   
    <div class="header-menu-container">
        <!--Home button-->
        <% if(url != '/' && url != '/login'){ %>             
        <a class="header-menu-btn" href="/">
            <img src="/images/home-24px.svg" title="Volver a la p치gina principal">
        </a>                
        <% } %>
        <!--About button-->
        <% if(url != '/about'){ %>
        <a class="header-menu-btn" href="/about">
            <img src="/images/info-24px.svg" title="Sobre mi">
        </a>         
        <% } %>
        <!--Log in button-->
        <% if(url != '/login' && !user){ %>
        <a class="header-menu-btn" href="/login">
            <img src="/images/login-24px.svg" title="Iniciar sesi칩n">
        </a>         
        <% } %>
        <!--Log out button-->
        <% if(url != '/login' && user){ %>
        <a class="header-menu-btn" href="/auth/logout">
            <img src="/images/logout-24px.svg" title="Cerrar sesi칩n">
        </a>         
        <!--Cancel button-->
        <% } %>
        <% if(url == '/login'){ %>
        <a class="header-menu-btn" href="/">
            <img src="/images/close-24px.svg" title="Cerrar sesi칩n">
        </a>          
        <% } %>
    </div>
</div>

