<div class="about-container">
    <div class="about-left-column">
        <div class="section-title">
            <h2>Sobre esta <i>website</i></h2>
        </div>
        <div class="left-column-body">
            <p>
            Esta página web ha sido desarrollada por Álvaro Rubio Gómez como un proyecto 
            personal para poner en práctica los conceptos y herramientas aprendidas durante 
            un periodo de autoaprendizaje de tres semanas. Las cuales incluyen, entre otras, 
            HTML, CSS, JavaScript, Node.js, Express, MySQL, OAuth y XAMPP.
            </p>
            <p>
            Esta iniciativa surge a principios de febrero del 2021 después de que una 
            ola de cruda y amarga realidad arrasará con las expectativas de un 2021 
            diagonalmente opuesto al ya pasado, pero no olvidado, 2020. La situación 
            actual y este año de pandemia me han hecho replantearme mis prioridades 
            y mi escala de valores, sin inmutar algunas otras que considero extremadamente 
            importantes e inamovibles.
            </p>
            <p>
            Z1.digital parece ofrecer un entorno de trabajo compatible con estos valores. 
            Siendo estos, entre otros, el desarollo profesional en un campo dinámico, 
            que evoluciona y de constante aprendizaje; una filosofía de empresa moderna 
            y que valora a sus trabajadores como un activo fundamental; y una localización 
            tan envidiable como es Sevilla, mi ciudad natal.
            </p>
            <p>
            Por mi lado, puedo ofrecer una mente curiosa e insaciable, una actitud 
            inmejorable ante los retos, el trabajo y el aprendizaje, un conocimiento 
            profundo de las bases de la programación orientada a objetos y un interes 
            real por seguir aprendiendo sobre el desarrollo de productos digitales. 
            Para un mayor detalle sobre mi experiencia académica y laboral, en el 
            lateral encontrará un enlace de descarga a mi curriculum.
            </p>
            <p>Gracias por su atención.</p>
            <p>Atentamente,</p>
            <p>Álvaro</p>
        </div>
    </div>
    <div class="about-right-column">
        <div class="right-column-header">
            <h3>Contacto / Enlaces</h3>
        </div>
        <div class="right-column-body">                     
            <p><a href="/about/downloadCV">Descargar curriculum</a></p>
            <p><a href="https://github.com/AlvaroRubioGomez/MindfullnessWebsite" target="_blank">Código del proyecto</a></p>
            <p><b>Teléfono:</b> 
                <br><i>675413008</i></br>
            </p>
            <p><b>Email:</b>
                <br><i>alvarorubiogomez90@gmail.com</i></br>
            </p>            
        </div>
    </div>    
</div>