<h1>Sobre mi! :)</h1>
<div id="about-text">
    Esto es un ejemplo de about
</div>
<div id="contact-container">
    <h3>Datos de contacto</h3>
    <p><a href="/about/downloadCV">Descargar curriculum</a></p>
    <p><a href="https://github.com/AlvaroRubioGomez/ORB_SLAM2" target="_blank">Código del proyecto</a></p>
    <p>Teléfono: 675413008</p>
    <p>Email: alvarorubiogomez90@gmail.com</p>
</div>