<div class="login-container">
    <div class="login-title">        
        <h2>Para comenzar, </h2>        
        <h3>Inicia sesión, por favor.</h3>            
        <div class="login-btn">
            <a href="/auth/google"><div class="google-btn"></div></a>
        </div>     
    </div>              
</div>
