<div class="login-box">
    <div class="logo-img-container">
        <img id="logo" src="images/cover.png" alt="my_logo">
    </div>
    <div class="login-text">
        <p>Iniciar sesión</p>
    </div> 
    <a href="/auth/google">
        <div class="google-btn"></div>
    </a>
</div>
