<div id="login-box">
    <div id="logo-img-container">
        <img id="logo" src="images/cover.png" alt="my_logo">
    </div>
    <div id="login-text">
        <p>Iniciar sesión</p>
    </div> 
    <div id="google-btn-container">   
        <button class="loginBtn loginBtn--google">
            <a href="/auth/google">Login with Google</a>
        </button>
    </div>
</div>
