<h1> <%- questionTitle %> </h1>
<form method="POST" action="/db/submitans">
    <input class="form" type="text" name="answer" placeholder="Introduce tu respuesta" />
        <button class="submit" type="submit">Enviar</button>
</form>
<div class="btn-container">
    <div class="btn-holder">
        <button type="button"><a href="/db/nextquestion">Saltar pregunta</a></button>
    </div>
</div> 


