<div class="question-page">
<div class="question-container">
    <div class="question-title">
        <h2> <%- questionTitle %> </h2>
    </div>    
    <a class="question-next-btn" href="/db/nextquestion">
        <img src="/images/arrow_forward_ios-24px.svg" title="Saltar pregunta">
    </a> 
</div>
<form class="answer-container" method="POST" action="/db/submitans">
    <input class="answer-text" type="text" name="answer" placeholder="Introduce tu respuesta" />
        <button class="start-btn" type="submit">Enviar</button>
</form>
</div>


