<h1>Bienvenido <%- user.givenName %></h1>
<h2>¿Estás listo?</h2>
<h3>Tomate tu tiempo, no tenemos prisa</h3>
<div id="ready-btn-container">
    <button><a href="/db/questionspage">Si, estoy listo</a></button>
</div>