<h1>Bienvenido <%- user.givenName %></h1>
<h2>¿Estás listo?</h2>
<h3>
    Vamos a hacerte una serie de preguntas. Algunas de ellas son preguntas 
    comunes que nos hacemos todos los días. Tan comunes que no nos paramos
    a pensar realmente en ellas.  
</h3>
<h3>Por ello, te invitamos a que te tomes tu tiempo. No tenemos prisa</h3>
<div id="ready-btn-container">
    <button><a href="/db/questionspage">Si, estoy listo</a></button>
</div>