
<div class="about-container">
    <div class="about-left-column">
        <div class="section-title">
            <h2>Bienvenido <%- user.givenName %>,</h2>
        </div>
        <div class="left-column-body">
            <p>¿Estás listo?</p>
            <p>
                Vamos a hacerte una serie de preguntas. Algunas de ellas son preguntas 
                comunes que nos hacemos todos los días. Tan comunes que no nos paramos
                a pensar realmente en ellas.  
            </p>
            <p>Por ello, te invitamos a que te tomes tu tiempo. No tenemos prisa</p>
        </div>
        <div class="start-btn">
            <button type="button"><a href="/db/questionspage">Si, estoy listo</a></button>
        </div>
    </div>    
    <img class="big-logo" src="/images/big_logo.png" alt="Mindfullness Website logo">       
</div>