body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: cadetblue;
}

.submit {
  size: 20px;
  color: blueviolet;  
}

a:link, a:visited, a:active {
  text-decoration: none; 
}


/*A bit of styling*/

/*LOG IN WEBPAGE*/

.logo-img-container {
  width: 500px;
  height: 200px;
}

/* resize images */
.logo-img-container img {
  width: 100%;
  height: auto;
}

.login-box {
  border: 5px solid black;
  width: 500px;
  height: 500px;
  background-color: white;
  padding: 10px;
  margin: auto;
}

.login-text{
  text-align: center;
  font-size: 25px;
  margin-top: 50px;
}

.google-btn-container{  
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto; 
  width: fit-content; 
}

/*Google button*/
.google-btn {    
  width: 191px;
  height: 46px;
  background: url("../images/btn_google_signin_dark_normal_web.png") no-repeat;
  display: inline-block;
}
.google-btn:hover {
  background: url("../images/btn_google_signin_dark_focus_web.png") no-repeat;
}
.google-btn:active {
  background: url("../images/btn_google_signin_dark_pressed_web.png") no-repeat;
}





