/*General*/

body {  
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  background-color: whitesmoke;
}

a:link, a:visited, a:active {
  text-decoration: none; 
}

/*body*/
.body-content{
  margin-top: 5em;
  margin-bottom: 5em;
  margin-left: 5em;
  margin-right: 5em;  
}

/*section title*/
.section-title{
  display: flex;
  margin-left: 1em;
  font-size: large;
}


/*Home*/


.home-sentence{
  display: flex;
  justify-content: center;
  font-size: xx-large;  
}

.start-btn{
  margin-top: 3em ;
  display: flex;
  justify-content: center;  
}

.start-btn > button{
  height:  50px;
  width: 200px;
  font-size: 20px;
}



/*header*/
.header{  
  transition: 0.4s;  
  display: flex;  
  background-color: #ced4da;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.header-logo-img{  
  height: 40px;
  transition: 0.4s; 
}

.header:hover .header-logo-img{  
  transition-duration: 0.4s;
  transition-property: height;
  width: auto;
  height: 100px;  
}

/*header menu*/
.header-menu-container{    
  display: flex;
  flex-direction: row;
}

.header-menu-btn{
  padding: 10px;
}

.header-menu-btn:hover > img{  
  width: 40px;
  height: 40px;
}


/*footer*/

.footer{  
  display: flex;
  position: fixed;  
  right: 24px;
  bottom: 24px;
  height: 40px;
  width: 40px;  
  background-color: #ced4da;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.footer-menu-btn > img{
  width: 24px;
  height: 24px;
}

/*about*/

.about-container{
  display: flex; 
  justify-content: space-around;  
}

.about-container .section-title{
  border-bottom: 3px solid rgb(218, 196, 104); 
}

.about-left-column{
  flex-direction: column;
  width: 50%;  
}

.left-column-body{
  margin-left: 3em;
}

.about-right-column{     
  width: 25%;      
  border-radius: 10px;
}

.right-column-header{
  padding-left: 1em;  
  border: 3px solid rgb(218, 196, 104);  
  background-color: 3px solid rgb(218, 196, 104); 
}

.right-column-body{
  margin-top: -1em;
  background-color: #ced4da;  
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;  
}

.right-column-body > p{    
  padding-left: 2em;
  padding-top: 1em;  
}

.right-column-body > p:first-child{ 
  padding-top: 3em;  
}

.right-column-body > p:last-child{ 
  padding-bottom: 3em;  
}



/*Log in*/

.login-container{  
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.login-title > h2{
  font-size: 50px;
}

.login-title > h3{
  margin-left: 1em;
  font-size: 25px;
}

.login-btn{
  margin-left: 4em;
  margin-top: 5em;
}


/*Google button*/
.google-btn {    
  width: 191px;
  height: 46px;
  background: url("../images/btn_google_signin_dark_normal_web.png") no-repeat;
  display: inline-block;  
}
.google-btn:hover {
  background: url("../images/btn_google_signin_dark_focus_web.png") no-repeat;  
}
.google-btn:active {
  background: url("../images/btn_google_signin_dark_pressed_web.png") no-repeat;  
}


/*welcome page*/

.full-page-container{
  display: flex;
  width: 50%;
  flex-direction: column;
  align-content: center;
}

.full-page-body{
  padding-left: 3em ;
}

.big-logo{
  max-width: 400px;
  max-height: 400px;
}

/*questions page*/

.question-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.question-container{
  display: flex;
  flex-direction: row;  
}

.question-title > h2{
  font-size: 30px;
}

.answer-text{
  max-height: 300px;
  max-width: 800px;
}

.answer-container{
  display: flex;
  align-items: flex-end;
  padding-top: 1em;
}


.next-btn{
  width: 40px;
  height: 40px;
  padding: 1.5em;
}



.send-btn{
  width: 40px;
  height: 40px;
  padding-left: 2em;
  padding-top: 0.5em;  
  transform: rotate(-20deg);  
}

.send-btn:hover{  
  animation: bounce 2s;}


@keyframes bounce {  
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-12px);
  }
}

/*Results*/

.answers-title{
  display: flex;
  font-size: 40px;
  font-weight: bold;
  justify-content: center;  
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;  
}


.tables-wrapper{
  width: 100%;
  max-width: 1000px;
  margin: 2em auto;
  padding: 1em;  
}

.table-wrapper{   
  flex-wrap: wrap;
  margin: 0 0 4em 0;  
  box-shadow: 0 16px 6px -8px rgb(0 0 0 / 20%);
  background-color: white;
  border-radius: 16px;
  padding-top: 0.1em;
}

.table-topic{  
  font-size: 26px;
  font-weight: bold;
  border-bottom: 3px solid rgb(218, 196, 104);    
  padding: 0 1em  0 1em;
}

.table-content-row:nth-child(odd){
  background-color: rgba(233,200,147,0.2);
}

.cell-format{
  padding: 0 1em 0 1em;
}

.table-content-row{
  width: 100%;
  display: flex;
  justify-content: space-between;  
}

 






































